//Configuraciones generales
@import '../base/variables';

//Fuente
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: $white-b;
}

button, input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.d-none{
    display: none;
}

.cntr-general{
    width: 100%;
    padding: 10px;
    @include d-flex;
}